$main: #002277;
$main-hover: #ADC6FF;
$black: #000;
$white: #fff;
$grey: #999;
$light-grey: #f5f5f5;
$input: #eee;
$active: #ddd;
$text: #333;
$text-hover: #777;
$red: #ff0000;
$yellow: #7FA6FF;
$highlighted: #ffffcc;
$grayeditem: #aaa;
