<div class="col-xs-4 type_filter">
    <a href="#" cmtyx-filter-type="FACTS">Facts</a>
</div>
<div class="col-xs-4 type_filter">
    <a href="#" cmtyx-filter-type="OPINIONS">Opinions</a>
</div>
<div class="col-xs-4 type_filter">
    <a href="#" cmtyx-filter-type="PREDICTIONS">Predictions</a>
</div>
